@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color:white;
}

html{
    font-family: sans-serif;
} */


/* #card{ */
    /* background:#302f2f9f; */
    /* background:linear-gradient(71deg,#080509,#1a171c,#080509);  */
/* } */

/* Animation keyframes */
/* @keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

#countrydata-card{
background:linear-gradient(71deg,#080509,#1a171c,#080509);
} */


/* index.css ya global.css me add karo */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .filter-Btn{
    /* background-color:greenyellow; */
    padding: 3px 10px;
    border:2px solid rgba(94, 86, 86, 0.692);
    border-radius:15px;
    box-shadow:2px 2px rgba(139, 135, 135, 0.29);


    /* border-black px-3 rounded-xl border text-lg filter */
  }

  .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        padding:40px;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 


    .search-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: white;

    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .loader-restaurant {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #000;
        box-shadow: 32px 0 #fff, -32px 0 #fff;
        position: relative;
        animation: flash 0.5s ease-out infinite alternate;
      }
      
      @keyframes flash {
        0% {
          background-color: #FFF2;
          box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
        }
        50% {
          background-color: #FFF;
          box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
        }
        100% {
          background-color: #FFF2;
          box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
        }
      }
            
  

  